build/
.DS_Store
__pycache__/
*.pyc
*.wad
*.WAD
*.iwad
*.IWAD
*.pwad
*.PWAD
*.[Ww][Aa][Dd].gz
*.[Ii][Ww][Aa][Dd].gz
*.[Pp][Ww][Aa][Dd].gz
*.[Ww][Aa][Dd].zip
*.[Ii][Ww][Aa][Dd].zip
*.[Pp][Ww][Aa][Dd].zip
*.[Ww][Aa][Dd].tar
*.[Ii][Ww][Aa][Dd].tar
*.[Pp][Ww][Aa][Dd].tar
*.[Ww][Aa][Dd].tar.gz
*.[Ii][Ww][Aa][Dd].tar.gz
*.[Pp][Ww][Aa][Dd].tar.gz
*.[Ww][Aa][Dd].tgz
*.[Ii][Ww][Aa][Dd].tgz
*.[Pp][Ww][Aa][Dd].tgz
*.[Ww][Aa][Dd].7z
*.[Ii][Ww][Aa][Dd].7z
*.[Pp][Ww][Aa][Dd].7z
*.[Ww][Aa][Dd].rar
*.[Ii][Ww][Aa][Dd].rar
*.[Pp][Ww][Aa][Dd].rar
*.img
*.iso
*.raw
*.qcow2
*.ppm
*.pgm
*.bmp
*.png
*.jpg
*.jpeg
*.webp
*.gif
screenshots/
pixels/
*.log
*.wav
*.wave
*.mp3
*.ogg
*.oga
*.flac
*.aiff
*.aif
*.au
status*.txt
status*.bin
vga*.txt
vga*.bin
gfx*.txt
gfx*.bin
screenshot*.txt
pixel*.txt
serial*.txt
monitor*.txt
smoke*.txt
