build/
.DS_Store
__pycache__/
*.pyc
*.wad
*.WAD
*.iwad
*.IWAD
*.pwad
*.PWAD
*.[Ww][Aa][Dd].gz
*.[Ii][Ww][Aa][Dd].gz
*.[Pp][Ww][Aa][Dd].gz
*.[Ww][Aa][Dd].zip
*.[Ii][Ww][Aa][Dd].zip
*.[Pp][Ww][Aa][Dd].zip
*.[Ww][Aa][Dd].tar
*.[Ii][Ww][Aa][Dd].tar
*.[Pp][Ww][Aa][Dd].tar
*.[Ww][Aa][Dd].tar.gz
*.[Ii][Ww][Aa][Dd].tar.gz
*.[Pp][Ww][Aa][Dd].tar.gz
*.[Ww][Aa][Dd].tgz
*.[Ii][Ww][Aa][Dd].tgz
*.[Pp][Ww][Aa][Dd].tgz
*.[Ww][Aa][Dd].7z
*.[Ii][Ww][Aa][Dd].7z
*.[Pp][Ww][Aa][Dd].7z
*.[Ww][Aa][Dd].rar
*.[Ii][Ww][Aa][Dd].rar
*.[Pp][Ww][Aa][Dd].rar
*.img
*.iso
*.raw
*.dsk
*.ima
*.vdi
*.vmdk
*.vhd
*.vhdx
*.dmg
*.qcow
*.qcow2
*.ppm
*.pgm
*.bmp
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.tif
*.tiff
*.tga
*.xpm
*.rgb
*.rgba
screenshots/
pixels/
*.log
*.wav
*.wave
*.pcm
*.mp3
*.ogg
*.oga
*.opus
*.m4a
*.aac
*.wma
*.flac
*.aiff
*.aif
*.au
*.snd
*.caf
*.mid
*.midi
*.mus
*.sf2
*.sf3
*.voc
*.mod
*.s3m
*.xm
*.it
status*.txt
status*.bin
vga*.txt
vga*.bin
gfx*.txt
gfx*.bin
screenshot*.txt
pixel*.txt
serial*.txt
monitor*.txt
smoke*.txt
