build/
.DS_Store
__pycache__/
*.pyc
*.wad
*.WAD
*.iwad
*.IWAD
*.pwad
*.PWAD
*.img
*.iso
*.raw
*.qcow2
*.ppm
*.pgm
*.bmp
*.png
*.log
status*.txt
status*.bin
vga*.txt
vga*.bin
gfx*.txt
gfx*.bin
serial*.txt
monitor*.txt
smoke*.txt
